.add-option-error {
    color: $offWhite;
    font-style: italic;
    margin: $mSize 0 0 0;
    padding: 0 $mSize;
}

.add-option {
    display: flex;
    flex-direction: column;
    padding: $mSize;
}

.add-option__input {
    background: $darkBlue;
    border: none;
    color: $offWhite;
    border-bottom: .3rem solid darken($darkBlue, 10%);
    flex-grow: 1;
    margin: 0 0 $sSize 0;
    //margin-right: $sSize;
    padding: $sSize;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $sSize 0 0;
    }
}