.header {
    background: $offBlack ;
    color: white;
    margin-bottom: $mSize;
    padding: $mSize 0;
}

// BEM -> Block Element Modifier
.header__title {
    font-size: $lSize;
    margin: 0;
}

.header__subtitle {
    color: $offWhite;
    font-size: $mSize;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xlSize;
    }
}